 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 215px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 54px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("../images/cryptokitties_back1.png");
  background-position: 8.47% 59.73%;
  background-size: 120%;
}

.u-section-2 .u-sheet-1 {
  min-height: 646px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 557px;
  background-image: none;
  height: auto;
  margin: 80px auto 46px -17px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 49px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 46px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 465px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-group-1 {
    min-height: 431px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 192px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-3 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 260px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-4 .u-table-1 {
  margin-top: 36px;
  margin-bottom: 57px;
}

.u-block-d164-88 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-4 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-table-cell-4 {
  font-weight: 700;
  font-size: 1rem;
}

.u-block-d164-35 {
  background-image: none;
}